<div id="home-head">
  <div id="home-background"></div>
  <div id="home-info">
    <span class="loop"></span>
    <span class="loop"></span>
    <span class="loop"></span>
    <span class="loop"></span>
    <span class="info">
      <div class="wrap">
        <h1><%= config.title %></h1>
        <h3><%= config.subtitle || 'Welcome to my blog' %></h3>
      </div>
    </span>
  </div>
  <div class="wave-container">
    <svg class="wave wave-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none"><path d="M0,40 C360,100 1080,0 1440,60 L1440,100 L0,100 Z"/></svg>
    <svg class="wave wave-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none"><path d="M0,60 C480,0 960,100 1440,40 L1440,100 L0,100 Z"/></svg>
    <svg class="wave wave-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none"><path d="M0,50 C300,90 600,10 900,50 C1200,90 1350,30 1440,50 L1440,100 L0,100 Z"/></svg>
  </div>
</div>
